@use "../globals.scss" as *;

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.menu-image {
  .tablet,
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  @include breakpoint(tablet) {
    .desktop,
    .mobile {
      display: none;
    }
    .tablet {
      display: block;
    }
  }

  @include breakpoint(mobile) {
    .desktop,
    .tablet {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
}

img {
  width: 100%;
}
